.addCarForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 0 15px;
  }
  
  .title {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .inputField {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  
  .addButton {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #45a049; /* Darken the button on hover */
  }
  
  .cancelButton {
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancelButton:hover {
    background-color: #e53935; /* Darken the button on hover */
  }
  